<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.bcit.climate_history">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Climate_history">
        <activity
            android:name=".OceanHeatContent"
            android:exported="true"
            android:label="Ocean Heat Content"/>
        <activity
            android:name=".SeaLevel"
            android:exported="true"
            android:label="Sea Level"/>
        <activity
            android:name=".IceSheets"
            android:exported="true"
            android:label="Ice Sheets" />
        <activity
            android:name=".ArcticSeaIceMinimum"
            android:exported="true"
            android:label="Arctic Sea Ice Minimum" />
        <activity
            android:name=".GlobalTemperature"
            android:exported="true"
            android:label="Global Temperature" />
        <activity
            android:name=".CarbonDioxide"
            android:exported="true"
            android:label="Carbon Dioxide" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>